@import url('https://fonts.googleapis.com/css?family=Caveat|Mali|Walter+Turncoat|Montserrat|Ubuntu+Mono');

body {
    position: relative;
    background-color: #FFFFFF;
}

nav#main-navbar {
    background: #8bd5cb !important ;
}

.custom-nav a.navbar-brand{
    font-family: 'Walter Turncoat', cursive !important;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 3px;
    color: #f76262;
}
.custom-nav {
    font-family: 'Ubuntu Mono', monospace !important;
    background-color: #123!important
}

.custom-nav a.nav-link{
    font-size: 20px;
    color: #974949;
}

.custom-nav a.nav-link:hover, a.nav-link:active{
    color: #071e3d;
}

.page-content {
    margin-top: 60px;
}


@media (min-width: 800px) {
    .custom-nav a.nav-link{
        font-size: 26px;
        margin: 0 10px;
    }
    .custom-nav a.navbar-brand{
        font-size: 30px;
    }
    .custom-nav a.navbar-brand img{
        width: 120%;
    }
}

@media (max-width: 400px) {

    .custom-nav a.navbar-brand{
        font-size: 23px;
    }
    .custom-nav a.navbar-brand img{
        width: 60%;
    }
}
