{% extends 'base.html.twig' %}

{% block title %}New Places{% endblock %}

{% block body %}
    <h1>Create new Places</h1>

    {{ include('places/_form.html.twig') }}

    <a href="{{ path('places_index') }}">back to list</a>
{% endblock %}
